In [1]:
pip install plotly

Requirement already satisfied: plotly in /opt/venv/lib/python3.7/site-packages (4.14.2)
Requirement already satisfied: retrying>=1.3.3 in /opt/venv/lib/python3.7/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /opt/venv/lib/python3.7/site-packages (from plotly) (1.15.0)
WARNING: You are using pip version 19.2.3, however version 20.3.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install missingno

Requirement already satisfied: missingno in /opt/venv/lib/python3.7/site-packages (0.4.2)
Requirement already satisfied: numpy in /opt/venv/lib/python3.7/site-packages (from missingno) (1.19.4)
Requirement already satisfied: seaborn in /opt/venv/lib/python3.7/site-packages (from missingno) (0.11.1)
Requirement already satisfied: matplotlib in /opt/venv/lib/python3.7/site-packages (from missingno) (3.3.3)
Requirement already satisfied: scipy in /opt/venv/lib/python3.7/site-packages (from missingno) (1.5.4)
Requirement already satisfied: pandas>=0.23 in /opt/venv/lib/python3.7/site-packages (from seaborn->missingno) (1.1.5)
Requirement already satisfied: pillow>=6.2.0 in /opt/venv/lib/python3.7/site-packages (from matplotlib->missingno) (8.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/venv/lib/python3.7/site-packages (from matplotlib->missingno) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /opt/venv/lib/python3.7/site-packages (from matplotlib->missingno) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /opt/venv/lib/python3.7/site-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/venv/lib/python3.7/site-packages (from matplotlib->missingno) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in /opt/venv/lib/python3.7/site-packages (from pandas>=0.23->seaborn->missingno) (2020.5)
Requirement already satisfied: six>=1.5 in /opt/venv/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib->missingno) (1.15.0)
WARNING: You are using pip version 19.2.3, however version 20.3.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import plotly.graph_objects as go
import plotly.express as px
import numpy as np

In [4]:
from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql import types

In [5]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

sparkConf = SparkConf()
sparkConf.setMaster("k8s://https://kubernetes.default.svc.cluster.local:443")
sparkConf.setAppName("spark")

sparkConf.set("spark.kubernetes.container.image", "docker.io/iscp/pyspark-executor:latest")
sparkConf.set("spark.driver.host", "sn-deployment.spark.svc.cluster.local")

sparkConf.set("spark.executor.instances", "4")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.memory", "1g")
sparkConf.set("spark.executor.memory", "1g")

sparkConf.set("spark.kubernetes.namespace", "spark")
sparkConf.set("spark.kubernetes.driver.volumes.persistentVolumeClaim.snpvc.mount.path", "/home/volumes")
sparkConf.set("spark.kubernetes.driver.volumes.persistentVolumeClaim.snpvc.options.claimName", "snpvc")
sparkConf.set("spark.kubernetes.executor.volumes.persistentVolumeClaim.snpvc.mount.path", "/home/volumes")
sparkConf.set("spark.kubernetes.executor.volumes.persistentVolumeClaim.snpvc.options.claimName", "snpvc")

sparkConf.set('spark.sql.adaptive.enabled','True')
sparkConf.set('spark.kubernetes.driver.pod.name','sn-deployment-0')
# sparkConf.set('spark.dynamicAllocation.enabled', 'True')
# sparkConf.set('spark.dynamicAllocation.shuffleTracking.enabled', 'True')
# sparkConf.set('spark.dynamicAllocation.executorIdleTimeout', '2min')
# sparkConf.set('spark.dynamicAllocation.minExecutors', '1')
# sparkConf.set('spark.dynamicAllocation.maxExecutors', '1')
# sparkConf.set('spark.dynamicAllocation.schedulerBacklogTimeout', '1m')
# sparkConf.set('spark.shuffle.service.enabled', 'True')

spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()
sc = spark.sparkContext

age
sex: sex (1 = male; 0 = female)
cp: chest pain type
        -- Value 1: typical angina
        -- Value 2: atypical angina
        -- Value 3: non-anginal pain
        -- Value 4: asymptomatic
trestbps: resting blood pressure (in mm Hg on admission to the 
        hospital)
12 chol: serum cholestoral in mg/dl
16 fbs: (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)
19 restecg: resting electrocardiographic results
        -- Value 0: normal
        -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST 
                    elevation or depression of > 0.05 mV)
        -- Value 2: showing probable or definite left ventricular hypertrophy
                    by Estes' criteria
32 thalach: maximum heart rate achieved
38 exang: exercise induced angina (1 = yes; 0 = no)
     40 oldpeak = ST depression induced by exercise relative to rest
41 slope: the slope of the peak exercise ST segment
        -- Value 1: upsloping
        -- Value 2: flat
        -- Value 3: downsloping

 44 ca: number of major vessels (0-3) colored by flourosopy

 51 thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
 58 num: diagnosis of heart disease (angiographic disease status)
    -- Value 0: < 50% diameter narrowing
    -- Value 1: > 50% diameter narrowing
    (in any major vessel: attributes 59 through 68 are vessels)

In [ ]:
# id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
# id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982154846191406,40.767936706542969,-73.964630126953125,40.765602111816406,N,455
# id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415344238281,40.738563537597656,-73.999481201171875,40.731151580810547,N,663

In [ ]:
schema = """id"""

In [6]:
df = spark.read.csv('train.csv', schema=schema, header=True, samplingRatio=.1)

In [7]:
df.show(5)

+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
|       id|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|  pickup_longitude|   pickup_latitude| dropoff_longitude|  dropoff_latitude|store_and_fwd_flag|trip_duration|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
|id2875421|        2|2016-03-14 17:24:55|2016-03-14 17:32:30|              1| -73.9821548461914| 40.76793670654297|-73.96463012695312|40.765602111816406|                 N|          455|
|id2377394|        1|2016-06-12 00:43:35|2016-06-12 00:54:38|              1|-73.98041534423828|40.738563537597656|-73.99948120117188| 40.73115158081055|                 N|          663|
|id3858529|        2|2016-01-19 11:35:24|2016-01-19 12:10:48|              1| -73.9790267944336|40.763938903808594|-74.00533294677734|40.710086822509766|                 N|         2124|
|id3504673|        2|2016-04-06 19:32:31|2016-04-06 19:39:40|              1|-74.01004028320312|   40.719970703125|-74.01226806640625| 40.70671844482422|                 N|          429|
|id2181028|        2|2016-03-26 13:30:55|2016-03-26 13:38:10|              1|-73.97305297851562|40.793209075927734| -73.9729232788086| 40.78252029418945|                 N|          435|
+---------+---------+-------------------+-------------------+---------------+------------------+------------------+------------------+------------------+------------------+-------------+
only showing top 5 rows

In [8]:
df.head(2)

[Row(id='id2875421', vendor_id=2, pickup_datetime='2016-03-14 17:24:55', dropoff_datetime='2016-03-14 17:32:30', passenger_count=1, pickup_longitude=-73.9821548461914, pickup_latitude=40.76793670654297, dropoff_longitude=-73.96463012695312, dropoff_latitude=40.765602111816406, store_and_fwd_flag='N', trip_duration=455),
 Row(id='id2377394', vendor_id=1, pickup_datetime='2016-06-12 00:43:35', dropoff_datetime='2016-06-12 00:54:38', passenger_count=1, pickup_longitude=-73.98041534423828, pickup_latitude=40.738563537597656, dropoff_longitude=-73.99948120117188, dropoff_latitude=40.73115158081055, store_and_fwd_flag='N', trip_duration=663)]

In [9]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- trip_duration: integer (nullable = true)

In [10]:
df.count(),len(df.columns)

(1458644, 11)

In [11]:
df.summary().show()

+-------+---------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+-----------------+
|summary|       id|          vendor_id|    pickup_datetime|   dropoff_datetime|   passenger_count|   pickup_longitude|    pickup_latitude|  dropoff_longitude|   dropoff_latitude|store_and_fwd_flag|    trip_duration|
+-------+---------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+-----------------+
|  count|  1458644|            1458644|            1458644|            1458644|           1458644|            1458644|            1458644|            1458644|            1458644|           1458644|          1458644|
|   mean|     null| 1.5349502688798637|               null|               null|1.6645295219395548| -73.97348630489282| 40.750920908391734|  -73.9734159469458|   40.7517995149002|              null|959.4922729603659|
| stddev|     null|0.49877715390740646|               null|               null|1.3142421678231109| 0.0709018584227027|0.03288118625763319| 0.0706432680971978|0.03589055560563539|              null|5237.431724497547|
|    min|id0000001|                  1|2016-01-01 00:00:17|2016-01-01 00:03:31|                 0|-121.93334197998047|  34.35969543457031|-121.93330383300781|   32.1811408996582|                 N|                1|
|    25%|     null|                  1|               null|               null|                 1| -73.99186706542969|  40.73735046386719| -73.99132537841797|  40.73588943481445|              null|              397|
|    50%|     null|                  2|               null|               null|                 1| -73.98173522949219|  40.75409698486328| -73.97975158691406|  40.75452423095703|              null|              662|
|    75%|     null|                  2|               null|               null|                 2| -73.96733093261719|  40.76835632324219| -73.96302032470703| 40.769805908203125|              null|             1075|
|    max|id4000000|                  2|2016-06-30 23:59:39|2016-07-01 23:02:03|                 9| -61.33552932739258|  51.88108444213867| -61.33552932739258|  43.92102813720703|                 Y|          3526282|
+-------+---------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+-------------------+-------------------+------------------+-----------------+

### Remove Duplicate Rows

In [12]:
df_d = df.distinct()

### Get Summary of data

In [13]:
df_d.summary().show()

+-------+---------+-------------------+-------------------+-------------------+------------------+-------------------+--------------------+-------------------+-------------------+------------------+------------------+
|summary|       id|          vendor_id|    pickup_datetime|   dropoff_datetime|   passenger_count|   pickup_longitude|     pickup_latitude|  dropoff_longitude|   dropoff_latitude|store_and_fwd_flag|     trip_duration|
+-------+---------+-------------------+-------------------+-------------------+------------------+-------------------+--------------------+-------------------+-------------------+------------------+------------------+
|  count|  1458644|            1458644|            1458644|            1458644|           1458644|            1458644|             1458644|            1458644|            1458644|           1458644|           1458644|
|   mean|     null| 1.5349502688798637|               null|               null|1.6645295219395548| -73.97348630489282|  40.750920908391734|  -73.9734159469458|   40.7517995149002|              null| 959.4922729603659|
| stddev|     null|0.49877715390739535|               null|               null|1.3142421678231355| 0.0709018584227041|0.032881186257630396|0.07064326809720285|0.03589055560563711|              null|5237.4317244975655|
|    min|id0000001|                  1|2016-01-01 00:00:17|2016-01-01 00:03:31|                 0|-121.93334197998047|   34.35969543457031|-121.93330383300781|   32.1811408996582|                 N|                 1|
|    25%|     null|                  1|               null|               null|                 1| -73.99186706542969|   40.73734664916992| -73.99132537841797| 40.735877990722656|              null|               397|
|    50%|     null|                  2|               null|               null|                 1| -73.98173522949219|   40.75409698486328| -73.97975158691406|  40.75452423095703|              null|               662|
|    75%|     null|                  2|               null|               null|                 2| -73.96732330322266|   40.76835632324219|  -73.9630126953125|  40.76980972290039|              null|              1075|
|    max|id4000000|                  2|2016-06-30 23:59:39|2016-07-01 23:02:03|                 9| -61.33552932739258|   51.88108444213867| -61.33552932739258|  43.92102813720703|                 Y|           3526282|
+-------+---------+-------------------+-------------------+-------------------+------------------+-------------------+--------------------+-------------------+-------------------+------------------+------------------+

In [14]:
df_d.dtypes

[('id', 'string'),
 ('vendor_id', 'int'),
 ('pickup_datetime', 'string'),
 ('dropoff_datetime', 'string'),
 ('passenger_count', 'int'),
 ('pickup_longitude', 'double'),
 ('pickup_latitude', 'double'),
 ('dropoff_longitude', 'double'),
 ('dropoff_latitude', 'double'),
 ('store_and_fwd_flag', 'string'),
 ('trip_duration', 'int')]

### Check how many unique values per column

In [15]:
pd_df = df.toPandas()

In [16]:
pd_df.nunique()

id                    1458644
vendor_id                   2
pickup_datetime       1380222
dropoff_datetime      1380377
passenger_count            10
pickup_longitude        23047
pickup_latitude         45245
dropoff_longitude       33821
dropoff_latitude        62519
store_and_fwd_flag          2
trip_duration            7417
dtype: int64

In [ ]:
list_of_nunique = [f.countDistinct(c) for c in df_d.columns]
df_d.select(list_of_nunique).show()

### Validate columns that have bad data

In [ ]:
df_d.select('ca').distinct().show()

In [ ]:
df_d.groupBy('ca').count().show()

In [ ]:
df_d.where(f.col('ca') == '?').show()

In [ ]:
df_d = df_d.replace("?", None, subset = "ca")
df_d.groupby('ca').count().show()

In [ ]:
df_d = df_d.replace("?",None,subset="thal")
df_d.groupby("thal").count().show()

### Find Null counts

#### List Comprehension

In [ ]:
list_col = [f.count(f.when(f.col(c).isNull(),c)).alias(c) for c in df_d.columns]

df_d.select(list_col).show()

#### Map

In [ ]:
def get_null_cnt(c):
    return f.count(f.when(f.col(c).isNull(),c)).alias(c)

map_of_nulls = map(get_null_cnt, df_d.columns )
list_null_cnt = list(map_of_nulls)

df_d.select(list_null_cnt).show()

### Get condition counts for all columns: check 0 values

In [ ]:
def get_null_cnt(c):
    return f.count(f.when(f.col(c) == '0',c)).alias(c)

map_of_nulls = map(get_null_cnt, df_d.columns )
list_null_cnt = list(map_of_nulls)

df_d.select(list_null_cnt).show()

### Fill nulls with Median

In [ ]:
df_d = df_d.withColumn('ca', f.col('ca').cast(types.IntegerType()))

ca_median = df_d.approxQuantile("ca", [0.5], 0.25)

df_d = df_d.na.fill(ca_median[0])

########################################

df_d = df_d.withColumn('thal', f.col('thal').cast(types.IntegerType()))

thal_median = df_d.approxQuantile("thal", [0.5], 0.25)

df_d = df_d.na.fill(thal_median[0])

########################################

list_col = [f.count(f.when(f.col(c).isNull(),c)).alias(c) for c in df_d.columns]

df_d.select(list_col).show()

### Get Mean for filling

In [ ]:
df_d.select('ca').agg(f.avg("ca")).collect()[0][0]

# df_d = df_d.replace(None,f.mean())

### Get summary again

In [ ]:
df_d.describe().show()

### Replace features with names for easier to understand plots

In [ ]:
df_p = df_d

df_p = df_p.withColumn('target',f.col('num').cast("string"))
df_p = df_p.replace(['1','2','3','4'],"Disease", subset='target')
df_p = df_p.replace('0',"No_Disease", subset='target')

df_p = df_p.withColumn('sex',f.col('sex').cast('string'))
df_p = df_p.replace({'1.0': "Male", '0.0': "Female"}, subset='sex')

df_p = df_p.withColumn('cp', f.col('cp').cast('string'))
df_p = df_p.replace({'2.0': "atypical_angina", '1.0': 'typical_angina', '3.0': 'non-anginal pain', '4.0': 'asymptomatic'},
            subset='cp')

df_p = df_p.withColumn('exang', f.col('exang').cast('string'))
df_p = df_p.replace({'0.0': 'True', '1.0': 'False'}, subset = 'exang')

df_p = df_p.withColumn('fbs', f.col('fbs').cast('string'))
df_p = df_p.replace({'0.0': 'True', '1.0': 'False'}, subset = 'fbs')

df_p = df_p.withColumn('slope', f.col('slope').cast('string'))
df_p = df_p.replace({'1.0': 'upsloping', '2.0': 'flat', '3.0': 'downsloping'}, subset = 'slope')

df_p = df_p.withColumn('thal', f.col('thal').cast('string'))
df_p = df_p.replace({'3': 'fixed_defect', '6': 'fixed_defect', '7': "reversable_defect"}, subset = 'thal')

df_p.show()

df_p.dtypes

### Find Outliers

In [ ]:
pd_df = df_d.toPandas()

In [ ]:
pd_df.plot(kind='box', subplots='True',layout=(2,7),sharex=False,sharey=False, figsize=(20, 10))

In [ ]:
# fig = px.box(pd_df, x='target', y='chol')
# fig.show()

In [ ]:
pd_df = df_p.toPandas()
sns.boxplot(x='target',y='chol',data=pd_df,width=1)

#### Create the IQR bounds
https://blog.zhaytam.com/2019/07/15/outliers-detection-in-pyspark-2-interquartile-range/

In [ ]:
## demonstrate Zip an list comprehensions. Curly's used for dictionary, c is first element : second element
## in this case the second element is going to be a list of the bounds calculated by approxQuantile.
## Use if statements to get only the numerical datatypes
{c: d for c,d in zip(df_p.columns,df_p.dtypes) if (d[1] == 'double' or d[1] == 'int') }

In [ ]:
### Dictionary Method: create a dictionary of dictionaries for nested addressing later. More complex but better
### Var naming
dict_bounds = {c: dict(zip(['q1','q3'],df_p.approxQuantile(c,[0.25,.75],0)))
          for c,d in zip(df_p.columns,df_p.dtypes) if (d[1] == 'double' or d[1] == 'int') }
dict_bounds

In [ ]:
for c in dict_bounds:
    iqr = dict_bounds[c]['q3'] - dict_bounds[c]['q1']
    dict_bounds[c]['min'] = dict_bounds[c]['q1'] - iqr*1.5
    dict_bounds[c]['max'] = dict_bounds[c]['q3'] + iqr*1.5
    
dict_bounds

#### Apply bounds and create new column with outliers flagged

In [ ]:
for c in dict_bounds:
    df_p = df_p.withColumn(c+'_outlier', f.when(
        ~f.col(c).between(dict_bounds[c]['min'], dict_bounds[c]['max']), 'True')
                .otherwise('False'))

df_p.show()

#### Verify Outliers

In [ ]:
df_p.select('*').where(f.col('chol_outlier') == True).show()

#### Count and Remove Outliers

In [ ]:
{c: df_p.where(f.col(c) == True).count() for c in df_p.columns if c[-7:] == 'outlier'}

In [ ]:
df_nout = df_p.select('*').where(
    (f.col('age_outlier') == False)
    & (f.col("trestbps_outlier") == False)
    & (f.col("chol_outlier") == False)
    & (f.col("restecg_outlier") == False)
    & (f.col("thalach_outlier") == False)
    & (f.col("oldpeak_outlier") == False)
    & (f.col("ca_outlier") == False)
    & (f.col("num_outlier") == False)
    )
df_nout.show()